.header {
  width: 100vw;
  height: 10vh;
  background: #0f62fe;
  padding-left: 3vw;
  display:grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color:white;
  position: sticky;
}

.title {
  font-size:3vw;
  justify-self: start;
}