.App {
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-areas: 
    "header"
    "main";
}

@media (prefers-reduced-motion: no-preference) {
}

p {
  font-size: 0.85em;
}

svg {
  background: #efefef;
}

.country {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.85;
}

.selected {
  fill: yellow;
}

.city-label {
  font-size: 10px;
}
